[submodule "Footballers-API-Client"]
	path = Footballers-API-Client
	url = https://github.com/Littlerou/Footballers-API-Client
[submodule "Footballers-API-server"]
	path = Footballers-API-server
	url = https://github.com/Littlerou/Footballers-API-server
